<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Me</h2>
  <p>
      Shakunthala.M.K <br>
      from : Bangalore, India <br>
      Android Developer by Profession from past 2.4 years.<br>
      Loves to CODE | TRAVEL | EAT | PHOTOGRAPHY | MUSIC
  </p>
</div>
