<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact</h2>
  <p>
    <address>
      #103/A, 3rd Main, Nagendra Block <br>
      BSK I Stage, Bangalore - 560050.
    </address>
    <a href="tel:988.061.3011">+91-9880613011</a><br>
    <a href="mailto:shakunthalamk19@gmail.com">shakunthalamk19@gmail.com</a>
  </p>
</div>